# Set the default behavior, in case people don't have core.autocrlf set.
# git config core.eol lf
# git config core.autocrlf input

# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf
*.jpg binary
*.js text eol=lf




